<!DOCTYPE html>
<html lang="fr">

    {{ partial "head.html" .}}

<body id="main-page">

  <header>
      <div class="header-content">
          <div class="header-content-inner">
              <h1>Créer des cartes pour la recherche</h1>
              <ul class="header-ul">
                  <li><img src="img/promo.png" class="promo-pic"></li>
              </ul>
              
              
          </div>
      </div>
  </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Apprenez à créer des cartes à partir de toutes sortes de données de recherche, pour ensuite les inclure dans des présentations, articles ou thèses.</h2>
                    <hr class="secondary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <iframe width="420" height="315"
                src="https://www.youtube.com/embed/fBwFTyhE-NM">
                </iframe>
            </div>
        </div>
    </section>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pour qui est ce cours ?</h2>
                    <hr class="light">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                        <p>Vous êtes un chercheur, doctorant ou étudiant dans n'importe quelle discipline, et vous êtes amenés à devoir créer des cartes:</p>
                        <ul>
                            <li>Quelles sont les zones de contamination au paludisme en afrique ?</li>
                            <li>Quelle était l'extension du duché de Bourgogne à sa fondation en 800 ?</li>
                            <li>Quelles écoles ont fait partie du projet pilote de recherche sur l'intégration des minorités ?</li>
                        </ul>
                    <p>Vous avez fait appel à des collègues ou amis pour réaliser vos cartes mais vous avez des idées bien précises du rendu final et souhaiteriez le faire vous-même, ou encore vous pensez qu'au cours de votre carrière vous serez amenés à réaliser plusieurs cartes et il serait utile d'apprendre dès maintenant les techniques.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pourquoi un cours en ligne ?</h2>
                    <hr class="secondary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <p>Il y a de nombreuses ressources de grande qualité en ligne, avec youtube ou des sites spécialisés, qui sont accessibls gratuitement et permettent de démarrer. </p>
                    <p>L'intérêt de ce cours en ligne est qu'il propose un chemin simple et exhaustif pour pouvoir réaliser des cartes. Aucune autre ressource est nécessaire et il suffit de se concentrer sur le contenu plutôt que de passer du temps à chercher des informations dans la jungle du web. </p>
                    <p>Le temps est précieux et ce cours offre un raccourci pour maîtriser les concepts rapidement. Encore une fois, le raccourci n'est pas sur le contenu, qui est dense, mais bien sur son acquisition, le balisage et la méthode simple que propose le suivi d'un cours en ligne.</p>
                </div>
            </div>
        </div>
    </section>
    <section  class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contenu</h2>
                    <hr class="primary">
                </div>
              <div class="row">
                  <div class="col-lg-12">
                    <p>Ce cours se base sur des vidéos, 24 au total, qui sont de courtes durée (4 - 10 minutes), divisées en 5 modules.
                        Comme aucune pratique ne peut s'asseoire sans une théorie solide, 3 modules sont théoriques, et 2 sont pratiques.</p>
                        <hr>
                      <ul class="timeline">
                          <li>
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="img/portfolio/module1.png" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h4>Module 1: Principes de base de cartographie</h4>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="">Dans ce module, les leçons expliquent les différents éléments d'une carte, l'échelle, les projections, les couches, etc ... Pour avoir une solide idée des concepts sous-jacents.</p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="img/portfolio/module2.png" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h4>Module 2: Les données géographiques</h4>
                                  </div>
                                  <div class="timeline-body">
                                      <p class=>On souhaite à créer une carte numérique, via un ordinateur. Ce module explique les différences entre carte et données géographiques, comment les stocker ou les échanger.</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="img/portfolio/module3.png" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h4>Module 3: Création d'une carte</h4>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="">Ce module pratique explique tout ce qu'il faut savoir pour créer un carte avec le logiciel gratuit et open-source QGIS.</p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="img/portfolio/module4.png" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h4>Module 4: Esthétique des cartes</h4>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="">Ce module théorique explique tout ce qu'il faut savoir sur les couleurs, comment les agencer avec harmonie sur une carte et comment dépasser les limitations de QGIS en termes de dessin. </p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="img/portfolio/module5.png" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h4>Module 5: Techniques cartographiques avancées pour les chercheurs</h4>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="">Le monde des cartes est vaste et présente de nombreuses catégories. Un chercheur peut être amené à présenter ses données de multiples manières (cartes thématiques) ou encore de devoir extraire des données et les modifier avec précision et rigueur. Ce dernier module présente différentes techniques et fonctions qui seront utiles tout au long de votre carrière de chercheur.</p>
                                  </div>
                              </div>
                          </li>  
                      </ul>
                  </div>
              </div>
            </div>
        </div>
    </section>
    {{ partial "curriculum.html" .}}
    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Votre instructeur</h2>
                    <hr class="light">
                </div>
            </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-1 visible-xs"></div>
            <div class="col-lg-8 col-lg-offset-2 col-xs-10 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 text-center">
                  <img class="large-img-rounded img-responsive" src="img/portrait.jpg" alt="Alec Steele">
                  <div class="author-name">
                    Sylvain Dorey
                  </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8">
                  <p>Ingénieur spécialisé dans les systèmes d'informations géographiques, j'ai travaillé avec des chercheurs de toutes disciplines pour les aider à produire des cartes, principalement en linguistique et épidémiologie. J'ai des années d'expérience d'utilisation de logiciels de cartographie comme QGIS, ainsi que de traitement et d'analyse de données géographiques dans des systèmes informatiques plus complexes. J'adore enseigner et transmettre ma passion des cartes.</p>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
    </section>
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ce qu'ils en pensent</h2>
                    <hr class="secondary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="container-testimonial">
                        <img src="img/testimonials/femme.png" alt="Avatar" style="width:90px">
                        <p><span>Marine G.</span> Doctorante en littérature grecque ancienne</p>
                        <p class="testimonial">J’ai trouvé que ces tutoriels étaient bien faits et clairs, moi qui ne connais rien au sujet je n’ai pas eu de mal à suivre.</p>
                    </div>
                    <div class="container-testimonial">
                        <img src="img/testimonials/homme.png" alt="Avatar" style="width:90px">
                        <p><span>Thomas V.</span> Doctorant en biologie des maladies tropicales</p>
                        <p class="testimonial">C’est très clair et bien vulgarisé.</p>
                    </div>
                    <div class="container-testimonial">
                        <img src="img/testimonials/femme.png" alt="Avatar" style="width:90px">
                        <p><span>Mathilde G.</span> Chercheuse en philosophie et sciences de l'éducation</p>
                        <p class="testimonial">Le contenu est clair et bien structuré.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Questions fréquentes</h2>
                    <hr class="light">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h3>Combien de temps est nécessaire pour compléter le cours ?</h3>
                    <p>Tous les modules sont fournis d'un coup de manière à pouvoir progresser à sa propre allure. Néanmoins, avec un peu plus de 2h30 de vidéos et une alternance de cours théoriques et pratiques, on peut considérer que 3 semaines sont nécessaires pour venir à bout du cours. Ceux qui le veulent peuvent bien entendu le faire plus ou moins rapidement.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h3>Est-ce que j'ai besoin de payer autre choses que le cours ?</h3>
                    <p>Les ressources utilisées sont toutes GRATUITES et OPEN-SOURCE, il n'y a pas besoin de débourser quoique ce soit d'autres pour créer des cartes de grande qualité.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h3>Et si j'ai des questions ?</h3>
                    <p>Je réponds à toutes les questions par email et j'adore recevoir des exemples de cartes réalisées par les étudiants.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h3>Et si je ne suis pas satisfait ?</h3>
                    <p>Si ce cours ne correspond pas à vos attentes et que pour une quelconque raison vous souhaitez être remboursé (ma tête vous empêche de bien apprendre ou vous pensiez qu'il s'agissait d'un cours sur la création de cartes de voeux), alors envoyez-moi un email sur 30 jours et vous serez INTEGRALEMENT remboursés. Le but est d'apprendre sereinement et d'aller au bout du cours.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Accédez au cours ! </h2>
                    <hr class="secondary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-4">
                <div class="columns">
                    <ul class="price">
                        <li class="header-pricing">Accès illimité</li>
                        <li class="grey">197 €</li>
                        <li>5 modules</li>
                        <li>24 vidéos</li>
                        <li>Présentations et données à télécharger</li>
                        <li>Aide directe par emails</li>
                        <li class="grey"><a href="https://cours.tuto-carto.fr/creer-des-cartes-pour-la-recherche/buy" class="button-price">S'inscrire</a>
                        </li>
                    </ul>
                        <p style="padding-top: 20px; text-align: center">Date limite: 23 Décembre 2017</p>
                </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contactez-moi !</h2>
                    <hr class="light">
                    <div class="row">
                        <div class="timeline-image portrait">
                            <img class="img-circle img-responsive" src="img/logo_alex.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="info-text">
                                <p>Pour toute information complémentaire, n'hésitez-pas à me contacter !</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-offset-4 col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>sylvain@tuto-carto.fr</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
